.about {
  max-width: 1400px;
  padding: 77px 130px 76px 130px;
  background-color: $light-grey-bg;
  display: flex;
  justify-content: space-between;
  &__container {
    font-size: 22px;
    line-height: 32px;
    width: 555px;
  }
  &__title {
    padding-bottom: 8px;
    margin-bottom: 0;
  }
}
