.button {
  border: 0;
  width: 160px;
  height: 48px;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 18px;
  background-color: $button-color;
  border-radius: $border-radius;
  &_white {
    background-color: rgba(255, 255, 255, 1);
    color: $button-color;
    margin-left: 10px;
    width: 158px;
    @include small-screen {
      margin-left: 0;
      margin-top: 12px;
    }
  }
  &_black-text {
    color: rgba(0, 0, 0, 1);
  }

  &_audience {
    @include small-screen {
      width: 100%;
    }
  }
  &_hiring {
    width: 247px;
    @include small-screen {
      width: 100%;
    }
  }
  &_order {
    @include medium-screen {
      width: 385px;
      margin-top: 12px;
    }
    @include small-screen {
      width: 100%;
    }
  }
}
