.button {
  border: 0;
  width: 160px;
  height: 48px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  background-color: $button-color;
  border-radius: $border-radius;
  &--white {
    background-color: white;
    color: $button-color;
    margin-left: 10px;
    width: 158px;
  }
}
