.button {
  border: 0;
  width: 160px;
  height: 48px;
  color: $white;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  background-color: $blue-button;
  border-radius: $border-radius;
  text-transform: capitalize;
  &_white {
    background-color: $white;
    color: $blue-button;
    margin-left: 10px;
    width: 158px;
    @include large-screen {
      margin-left: 0;
      margin-top: 12px;
    }
  }
  &_black-text {
    color: $black;
  }

  &_audience {
    @include large-screen {
      width: 100%;
    }
  }
  &_hiring {
    width: 247px;
    @include large-screen {
      width: 100%;
    }
  }
  &_order {
    @include large-screen {
      width: 385px;
      margin-top: 12px;
    }
    @include large-screen {
      width: 100%;
    }
  }
}
