.communication {
  max-width: 1400px;
  padding: 110px 130px;
  background-color: rgba(255, 255, 255, 1);
  &__block {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    width: 461px;
  }
  &__title {
    color: rgba(1, 137, 209, 1);
    margin-top: 13px;
  }
  &__item {
    width: 360px;
    font-size: 18px;
    line-height: 26px;
  }
  &__description {
    margin-bottom: 39px;
  }
}
.line {
  width: 150px;
  margin: 87px 0 41px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
