.feedback {
  border-bottom: 1px solid $black01;
  @include large-screen {
    padding: 40px 15px 50px 15px;
  }
  &__main {
    padding: 76px 0 66px 0;
    max-width: 1348px;
    text-align: center;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/balloon.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    @include large-screen {
      background-image: none;
      padding: 0 0 40px 0;
    }
    @include medium-screen {
      text-align: left;
    }
  }
  &__title {
    line-height: 30px;
    font-weight: 700;
    color: $blue;
  }
  &__description {
    margin: 0 auto;
    line-height: 34px;
    max-width: 750px;
    padding: 28px 0 34px 0;
  }
  &__img {
    margin: 0 auto;
    display: none;
    @include large-screen {
      display: block;
    }
  }
  &__author {
    font-size: 16px;
    line-height: 24px;
  }
  &__author-job {
    color: $light-grey-text;
  }
}
.dots {
  text-align: center;
}
.dot {
  margin-top: 38px;
  width: 8px;
  height: 8px;
  display: inline-block;
  background-color: $light-grey02;
  border-radius: 100%;
  &:active {
    background-color: $blue;
  }
}
