.footer {
  &__main {
    display: flex;
    padding: 44px 0 47px 130px;
    @include large-screen {
      display: block;
      padding: 0;
    }
  }
  &__wrapper {
    @include large-screen {
      padding: 40px 15px;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    @include large-screen {
      display: block;
      margin-right: 0;
      text-align: center;
      height: auto;
      padding-bottom: 24px;
    }
  }
  &__logo-image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    @include large-screen {
      margin-right: 0;
      margin-bottom: 14px;
    }
  }
  &__logo-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: $grey;
  }
  &__logo-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: $light-grey-06;
  }
  &__description {
    font-size: 18px;
    line-height: 26px;
    color: $light-grey-06;
    width: 360px;
    margin: 26px 126px 25px 0;
    @include large-screen {
      display: none;
    }
  }

  &__navigation {
    display: flex;
    padding: 0 130px;
    align-items: center;
    height: 50px;
    border-top: 1px solid $light-grey;
    @include large-screen {
      display: block;
      border-top: 0;
      padding: 0 15px;
    }
  }
  &__stores {
    @include large-screen {
      text-align: center;
    }
  }
}

.additional-navigation {
  display: flex;
  @include large-screen {
    display: block;
    border-top: 1px solid $light-grey;
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 18px;
  }
  &__list {
    width: 265px;
    margin-right: 29px;
    @include large-screen {
      width: auto;
      margin-right: 0;
      padding: 30px 15px;
    }
  }
  &__link {
    font-size: 18px;
    line-height: 38px;
  }
  &__link > a {
    color: $light-grey-06;
    text-decoration: none;
  }
}

.terms {
  font-size: 14px;
  line-height: 22px;
  color: $light-grey-06;
  @include large-screen {
    padding-bottom: 31px;
  }
  &__link {
    margin-right: 21px;
    text-decoration: none;
    color: $light-grey-06;
  }
}

.social-links {
  margin-left: auto;
  @include large-screen {
    padding-bottom: 22px;
  }

  &__link {
    margin-right: 20px;
    text-decoration: none;
  }
}
