.headline {
  z-index: 0;
  position: relative;
  background-color: $header-bg;

  &__inner {
    padding: 0 0 126px 0;
    @include large-screen {
      padding: 35px 0 36px 0;
    }
  }
  &__wrapper {
    max-width: 1140px;
    margin: 0 auto;
    @include large-screen {
      max-width: 1000px;

      padding: 0 15px;
    }
  }
  &__title {
    max-width: 754px;
    font-weight: 700;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    @include large-screen {
      font-size: 50px;
      line-height: 50px;
      letter-spacing: -0.3125px;
      max-width: 456px;
    }
    @include small-screen {
      width: 290px;
    }
  }
  &__description {
    max-width: 456px;
    font-size: 24px;
    line-height: 34px;
    padding: 34px 0 58px 0;
    @include large-screen {
      padding: 24px 0 30px 0;
    }
    @include small-screen {
      width: 290px;
    }
  }
  &__img {
    z-index: -1;
    top: 8px;
    right: 25px;
    position: absolute;
    @include large-screen {
      position: relative;
      display: block;
      max-width: 100%;
      margin-top: 33px;
      top: 0;
      right: 0;
    }
  }
}
