.wrapper-header {
  padding: 41px 15px 0 15px;
  background-color: $header-bg;
  @include medium-screen2 {
    background-color: $white;
    padding: 0 0 0 15px;
  }
}

.header {
  &__wrapper {
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    height: 64px;
  }
  &__hidden-menu {
    width: 58px;
    height: 64px;
    line-height: 64px;
    vertical-align: middle;
    text-align: center;
    border-left: 1px solid $black015;

    margin-left: auto;
    display: none;
    @include medium-screen2 {
      display: block;
    }
  }
}

.navigation {
  margin-left: auto;
  display: flex;
  align-items: center;
  @include medium-screen2 {
    display: none;
  }
  &__item {
    font-size: 18px;
    margin-right: 50px;
    text-decoration: none;
    color: $grey;
  }
  &__item:last-of-type {
    margin-right: 11px;
  }
  &__item:active {
    font-weight: 700;
  }
  &__arrow {
    margin-right: 56px;
  }
}
