.headline-wrapper {
  z-index: 0;
  position: relative;
  background-color: $header-bg;
}

.headline {
  max-width: 1140px;
  padding: 0 0 126px 0;

  margin: 0 auto;
  @include large-screen {
    padding: 35px 15px 36px 15px;
  }

  &__title {
    max-width: 754px;
    font-weight: 700;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    @include large-screen {
      font-size: 50px;
      line-height: 50px;
      letter-spacing: -0.3125px;
      max-width: 456px;
    }
  }
  &__description {
    max-width: 456px;
    font-size: 24px;
    line-height: 34px;
    padding: 34px 0 58px 0;
    @include large-screen {
      padding: 24px 0 30px 0;
    }
  }
  &__img {
    z-index: -1;
    top: 0;
    right: 25px;
    position: absolute;
    @include large-screen {
      position: relative;
      display: block;
      max-width: 100%;
      margin-top: 33px;
      right: 0;
    }
  }
}
