.hiring {
  max-width: 1400px;
  padding: 106px 130px 110px 130px;
  text-align: center;
  &__section-main {
    margin: 0 auto;
    width: 555px;
  }
  &__button {
    margin-top: 28px;
    width: 247px;
  }
}
