.hiring {
  padding: 106px 130px 0 130px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    margin-bottom: 28px;
    max-width: 555px;
  }

  &__vacancies {
    margin: 110px 0;
  }
  &__vacancy {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.vacancy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 750px;
  height: 81px;
  text-align: left;
  padding: 0 34px 0 25px;
  border-radius: $border-radius * 4;
  border: 1px solid $border-light-grey;
  background-color: $white;
  &:hover {
    background-color: $hover-background;
    color: $white;
    .vacancy__location {
      color: $white;
    }
    .icon-arrow {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right-white.png);
    }
  }
  &__title {
    width: 408px;
    // flex-grow: 2;
  }
  &__location {
    width: 232px;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: $light-grey-text;
  }
}

.icon-arrow {
  display: block;
  width: 7px;
  height: 12px;
  margin-left: 33px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png);
}
