.hiring {
  padding: 106px 0 110px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include large-screen {
    padding: 50px 15px;
  }
  &__text {
    margin-bottom: 28px;
    line-height: 34px;
    max-width: 555px;
  }
  &__vacancy {
    margin-top: 20px;
    &:first-child {
      margin-top: 110px;
    }
    @include large-screen {
      margin-top: 15px;
      &:first-child {
        margin-top: 39px;
      }
    }
  }
}

.vacancy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 750px;
  height: 81px;
  text-align: left;
  padding: 0 34px 0 25px;
  border-radius: $border-radius * 4;
  border: 1px solid $light-grey;
  background-color: $white;
  @include large-screen {
    width: 290px;
    height: 140px;
    padding: 0 0 0 20px;
  }
  &:hover {
    background-color: $blue-hover;
    color: $white;
    .vacancy__location {
      color: $white;
    }
    .icon-arrow {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right-white.png);
    }
  }
  &__text {
    width: 660px;
    display: flex;
    justify-content: space-between;
    @include large-screen {
      display: block;
      width: 200px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
  }
  &__location {
    width: 232px;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: $light-grey-text;
  }
  &__arrow {
    display: block;
    width: 7px;
    height: 12px;
    margin-left: 33px;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png);
    background-repeat: no-repeat;
    @include large-screen {
      margin-left: 0;
      width: 50px;
      height: 138px;
      border-radius: 0 8px 8px 0;
      background-color: $grey-bg;
      background-position: center center;
    }
  }
}
