@import 'var.scss';
@import 'header.scss';
@import 'about.scss';
@import 'customers.scss';
@import 'features.scss';
@import 'inbox.scss';
@import 'communication.scss';

// @import '';
// @import '';
// @import '';

// @import '';
// @import '';

@import 'sections-content.scss';
@import 'button.scss';

* {
  box-sizing: border-box;
}
html {
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  color: $text-main-color;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 14px;
  line-height: 22px;
  margin-top: 15px;
  color: $figcaption-color;
  text-align: center;
}
