@import 'var.scss';
@import 'button.scss';
@import 'header.scss';
@import 'about.scss';
@import 'customers.scss';
@import 'features.scss';
@import 'inbox.scss';
@import 'communication.scss';
@import 'audience.scss';
@import 'feedback.scss';
@import 'hiring.scss';
@import 'order.scss';
@import 'footer.scss';
// @import '';
// @import '';
// @import '';

@import 'sections-content.scss';

* {
  box-sizing: border-box;
}
html {
  font-family: 'Work Sans', sans-serif;
  font-size: $main-font-size;
  line-height: 34px;
  color: $main-text-color;
}
h1,
h2,
h3,
h4,
p,
figure {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 24px;
}

h2 {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  margin-bottom: 30px;
}

.section-content-width {
  width: 462px;
}

.section-description {
  margin-bottom: 44px;
}

figcaption {
  font-size: 14px;
  line-height: 22px;
  margin-top: 15px;
  color: $light-grey-text;
  text-align: center;
}

.icon-arrow {
  display: block;
  width: 7px;
  height: 12px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png);
}
