.logo {
  display: flex;
  align-items: center;
  &__image {
    margin-right: 15px;
    width: 60px;
    height: 60px;
    @include large-screen {
      margin-right: 13px;
      width: 48px;
      height: 48px;
    }
  }
  &__image_footer {
    @include large-screen {
      margin-right: 0;
      margin-bottom: 14px;
    }
  }
  &__name {
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color: $grey;
  }
  &__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: $light-grey-06;
    @include large-screen {
      display: none;
    }
  }
}
