.order {
  padding: 73px 0 72px 0;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-grey-bg;
  @include large-screen {
    display: block;
    padding: 50px 15px;
    text-align: center;
  }
  &__img {
    margin-right: 121px;
    @include large-screen {
      margin-right: 0;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    margin-bottom: 12px;
    @include large-screen {
      padding-top: 40px;
    }
  }
  &__description {
    width: 555px;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 26px;
    @include large-screen {
      width: auto;
    }
  }
  input[type='email'] {
    height: 48px;
    width: 385px;
    font-size: 18px;
    line-height: 13px;
    padding-left: 15px;
    color: $grey;
    border-radius: $border-radius;
    border: 1px solid $light-grey02;
    vertical-align: bottom;
    @include large-screen {
      width: 100%;
    }
  }
  &__small-text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
    color: $light-grey-text;
  }
}
