.order {
  padding: 73px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-grey-bg;
  &__img {
    margin-right: 121px;
  }
  &__title {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    margin-bottom: 12px;
  }
  &__description {
    max-width: 555px;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 26px;
  }
  input[type='email'] {
    height: 48px;
    width: 385px;
    border-radius: $border-radius;
    border: 1px solid $border-light-grey;
    vertical-align: bottom;
    line-height: 48px;
  }
  &__small-text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
    color: $light-grey-text;
  }
}
