//backgrounds
$main-background: rgba(243, 198, 189, 1);
$button-color: rgba(48, 64, 196, 1);
$hover-background: rgba(49, 65, 197, 1);

//fonts

$main-font-size: 24px;
$main-text-color: rgba(43, 41, 45, 1);
$light-grey: rgba(43, 41, 45, 0.6);
