$border-radius: 2px;
$main-font-size: 24px;
$header-bg: rgba(243, 198, 189, 1);

$white: rgba(255, 255, 255, 1);

$blue-button: rgba(48, 64, 196, 1);
$blue-hover: rgba(49, 65, 197, 1);
$blue: rgba(49, 66, 198, 1);
$green: rgba(0, 155, 77, 1);

$black-01: rgba(0, 0, 0, 0.1);

$grey-border: rgba(227, 227, 227, 1);
$light-grey-bg: rgba(244, 245, 247, 1);

$light-grey-06: rgba(43, 41, 45, 0.6);
$light-grey-02: rgba(43, 41, 45, 0.2);
$light-grey: rgba(43, 41, 45, 0.1);
$grey: rgba(43, 41, 45, 1);
